@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --custom-primary: #101828;
  --custom-secondary: ##ed1c24;
  --custom-gray: #475467;
}
body {
  font-family: "Inter", sans-serif; /* Apply globally to the body */
}

.custom-select-width {
  width: auto; /* Use only the necessary width */
}
